@import url('https://fonts.googleapis.com/css?family=Varela+Round');

body {
    background-color: white;
    font-family: 'Varela Round', "Ariel Rounded";
}

.overlay-menu {
    z-index: 10000;
    float: left;
    display: none;
    background-color: whitesmoke;
    width: 80vw;
    height: 90vh;
    margin: 5vh 10vw 0 10vw;
    /* margin-top: 5vh; */
    border-radius: 15vw;
    justify-content: center;
    overflow: scroll;
    position: absolute;
    box-shadow: 0 0 100vw rgba(0, 0, 0, 1);
    /*  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) */

}

.overlay-menu-header {
    background-color: #4B0082;
    height: 10vh;
    width: 80vw;
    border-radius: 15vw 15vw 0 0;

    display: flex;
    justify-content: flex-end;
}

.overlay-menu-header-close-button {
    color: white;
    font-size: 11vh;
    font-family: 'Varela Round', "Ariel Rounded";

    margin-right: 7vw;
    position: relative;
    top: -2vh;

    font-weight: bold;
}


.overlay-item {
    width: 70vw;
    margin: auto;
    margin-top: 5vw;
    margin-top: 5vw;

    border: 4px solid white;
    border-radius: 3vw;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.overlay-buttondiv {
    width: 80vw;
    display: flex;
    justify-content: center;

    padding: 5vw 0 5vw 0; 
}


.overlay-submitbutton {
    background-color: #4B0082;
    text-align: center;
    padding: 3vw;
    color: white;
    width: 50vw;
    margin: auto;
}

.overlay-submitbutton:hover {
    background-color: #8800EB;
}

.overlay-submitbutton:active {
    background-color: #8800EB;
}




.overlay-textinput {
    background-color: #4B0082;
}

.overlay-textinput > input:focus {
    background-color: #8800EB;
    border-radius: 2vw;
    border: none;
}

.overlay-textinput > input {
    text-align: right;
    color: white;
    width: 97%;
    background-color: transparent;
    border: none;
    padding: 1vw;
    font-family: 'Varela Round', "Ariel Rounded";
}




.overlay-dropdown {
    position: relative;
}

.overlay-dropdown > select {
    display: none;
}

.select-selected {
    background-color: #4B0082;
    border: 4px solid white;
    border-radius: 3vw;
}

/* style arrow */
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

/* style arrow when opened */
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/* style selected option */
.select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    /* border-color: transparent transparent #4B0082 transparent; */
    /* background-color: #8800EB; */
    cursor: pointer;
}

/* style options */
.select-items {
    position: absolute;
    background-color: #4B0082;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    border: 1px solid transparent;
    border-radius: 3vw;
}

.select-hide {
    display: none;
  }
  
.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}





.overlay-mustsee {
    background-color: #4B0082;
}

.overlay-mustsee-header {
    color: white;
}

.overlay-mustsee-header-text {
    margin: 1vw;
}

.overlay-mustsee-header-plus {
    color: white;
    background-color: #8800EB;
    border-radius: 50vw;
    width: 5vw;
    height: 5vw;
    display: block;
    text-align: center;
    float: right;
    position: relative;
    top: -6vw;
    right: 1vw;
}

.must-see-items {
    max-height: 50vw;
    /* overflow: scroll; */
}

.overlay-must-see-input {
    color: white;
    width: 97%;
    background-color: transparent;
    border: none;
    padding: 1vw;
    margin: 0 0 2vw 0;
    font-family: 'Varela Round', "Ariel Rounded";
    background-color: #8800EB;
}



/* midas deel: */


body {
    height: 100vh;
    background-color: white;
    overflow-x: hidden;
}

section{
    height: 100%;
}

header{
    position: fixed;
    background-color: #4B0082;
    width: 100%;
    text-align: center;
    font-family: 'Varela Round', 'Roboto';
}

header h1{
    margin: 0%;
    padding: 1vw;
    color: white;
    font-size: 300%;
}

.search-block{
    display: flex;
    align-items: center;
    justify-content: center;
}

.headinp{
    float: left;
    background-color: #8800EB;
    border: 4px solid white;
    border-color: white;
    color: white;
    border-radius: 2vw 0px 0px 2vw;
    text-align: left;
    padding: 5px;
    margin-bottom: 5px;
}

.search-block button{
    float: left;
    background-color: #8800EB;
    background-image: url("../images/search_icon.png");
    background-position: 2px 2px;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    width: 35px;
    height: 36px;
    border: 4px solid white;
    border-color: white;
    border-radius: 0px 2vw 2vw 0px;
    cursor: pointer;
    border-left: none;
}

.middel {
    display: flex;
    overflow-x: hidden;
    width: 100%;
    min-height: 100%;
    overflow-x: auto;
}

.circle{
    display: flex;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    background-color: #8800EB;
    justify-content: center;
    align-items: center;

    margin: auto;
    margin-top: 5vw;
    margin-top: 5vw;

    border: 4px solid white;
    border-radius: 50%;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.buttonContainer {
    width: 100vw;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.buttons {
    margin: 2vw;
}

.buttonicon {
    width: 13vw;
}


/* luuks ship */

/* .landingbody {
    background: url(../images/bg.png) repeat 0 0;
    background-size: 100%;
    height: 100vh;
} */

@font-face {
font-family: "Sonorous";
src: url("../style/fonts/Sonorous.otf");
src: url("../style/fonts/sonorous-webfont.woff") format("woff");

}

.content {
    margin: 0 auto;
    width: 350px;
    padding: .75rem;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: table;
}
.content p {
    font-family: "Sonorous", Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    max-width: 80vw;
    font-size: 30px;
    margin: .25rem;
    padding: .25rem;
    display: block;
    text-align: center;
}
.content p:not(.button){
    color: #4B0082;
}
.button {
    color: white;
    background-color: #4B0082;
    border: 5px solid white;
    border-radius: 10vw;
}